<h1>Vérification d' Email</h1>
<div class="row">
  <div id="index" class="col-sm-4">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input ng-model="mail" type="text" class="form-control" id="nom">
      </div>
      <!-- <div class="form-group">
        <label for="mdp">nouveau mdp</label>
        <input ng-model="mdp" type="password" class="form-control" id="mdp">
      </div> -->
      <a href="/#!/accepter" type="button" ng-click="verifier()" value="Vérifier" class="btn btn-default"/>Vérifier</a>
    </form>
  </div>
</div>
<script>